<div class="row">
    <div class=".col-sm-12">
    
    <div class=".col-sm-9">
        <div class="input-group addPlayer">
            <input type="text" class="form-control" placeholder="Player Name" aria-describedby="basic-addon1" #playerName>
            <span class="input-group-btn">
                <button class="btn btn-default" type="button" (click)="add(playerName.value); playerName.value=''">Add</button>
            </span>
        </div>
    </div><!-- /.col-lg-6 -->

    <div class=".col-xs-4 .col-sm-4" *ngFor="let player of players">
        <div class="thumbnail">
            <!--img src="..." alt="..."-->
            <div class="caption">
                <h3>{{player.name}}</h3>
                <p>Player {{player.id}}</p>
                <p>Life: {{player.startLife}}</p>
                <fieldset class="checkbox playerColors">
                    <legend>Color(s):</legend>
                    <label for="white"><input type="checkbox" name="color" value="white">White</label>
                    <label for="blue"><input type="checkbox" name="color" value="blue">Blue</label>
                    <label for="black"><input type="checkbox" name="color" value="black">Black</label>
                    <label for="red"><input type="checkbox" name="color" value="red">Red</label>
                    <label for="green"><input type="checkbox" name="color" value="green">Green</label>
                </fieldset>
            </div>
        </div>
    </div><!-- /.col-sm-6 col-md-4 -->
        
    </div>
</div><!-- /.row -->
<button class="backButton" (click)="goBack()">Back</button>
